.search {
    background-image:url(../static/search.jpg);
    background-size: cover;
    height:100rem;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
   
   
}
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }

.searchbar input {
    width:100%;
    margin-top:80px;
}