{%extends "layout.html"%}
{%block content%}
<!-- Hero -->
<div class="hero">
    <div class="herocall">
        <h1>Hire freelancers.</h1> 
               <h1> Make things happen.™</h1>
                <p>Boost your events through the top freelancing</p>
                        <p>website. Hire talent nearby or worldwide.</p>
                        <a href="{{url_for('register')}}" class="button is-medium">GET STARTED</a>
    </div>

</div>
<!-- Trusted Brands -->
<div class="trusted">
        <div class="trusted-0">
                <h3>TRUSTED BY 10M+</h3>
                <h3>BUSINESSES</h3>
            </div>
    <div class="trusted-1">
        <img src="../static/amazon.png" alt="">
    </div>
    <div class="trusted-2">
            <img src="../static/dropbox.png"s alt="">
    </div>
    <div class="trusted-3">
            <img src="../static/meetup.png" alt="">
    </div>
    <div class="trusted-4">
            <img src="../static/shopify.png" alt="">
    </div>
</div>
<!-- scope -->
<div class="scope">
    <div class="scope1">
        <h1>Hire for any scope
                of work:</h1>
    </div>
    <div class="scope1">
        <h4>Short-term tasks</h4>
        <p>Build a pool of diverse experts for one-off tasks</p>
    </div>
    <div class="scope1">
        <h4>Recurring projects</h4>
        <p>Have a go-to team with specialized skills</p>
    </div>
    <div class="scope1">
        <h4>Full-time contract work</h4>
        <p>Expand your staff with a dedicated team</p>
        </div>
</div>
<!--Category Images re-iteration  -->
<div class="categoryimg">
    <div id="categoryimg1" class="categorybox">
        <img src="../static/solution.png" alt="">
        <a href="{{url_for('eventplanners')}}"><h1>Event Planner</h1></a>
    </div>
    <div id="categoryimg2" class="categorybox" >
            <img src="../static/dj.png" alt="">
            <a href="{{url_for('djs')}}"><h1>DJ</h1></a>
    </div>
    <div id="categoryimg3" class="categorybox">
            <img src="../static/mix.png" alt="">
            <a href="{{url_for('djs')}}"><h1>Audio Enginneer</h1></a>
    </div>
    <div id="categoryimg4" class="categorybox">
            <img src="../static/bartender.png" alt="">
            <a href="{{url_for('bartenders')}}"><h1>Bartender</h1></a>   
    </div>
    <div id="categoryimg5" class="categorybox">
            <img src="../static/video-camera.png" alt="">
            <a href="{{url_for('videographers')}}"><h1>Videographer</h1></a>
    </div>
    <div id="categoryimg6" class="categorybox">
            <img src="../static/photo-camera.png" alt="">
            <a href="{{url_for('photographers')}}"><h1>Photographer</h1></a>
    </div>
</div>
<!-- How it works -->
<div class="how">
    <div class="how1">

    </div>
    <div class="how2">

    </div>
    <div class="how3">

    </div>
    <div class="how4">

    </div>

</div>
<!-- Payment Plans -->
<div class="packages">
    <div class="packages1">

    </div>
    <div class="packages2">

    </div>
    <div class="packages3">

    </div>
    <div class="packages4">

    </div>
</div>

{%endblock%}