<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css"/>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navbar is-warning">
            <div class="navbar-brand">
              <a class="navbar-item" href="{{url_for('index')}}">
                <img src="../static/logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
              </a><span></span>
              <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          
            <div id="navbarExampleTransparentExample" class="navbar-menu">
              <div class="navbar-start">
               
               
              </div>
          {% if current_user.is_authenticated %}
              <div class="navbar-end">
                          <a class="navbar-item" href="{{url_for('profile')}}">
                            Profile
                          </a>
                          <a class="navbar-item" href="{{url_for('logout')}}">
                              Logout
                            </a>
                            <a class="navbar-item" href="{{url_for('find')}}">
                                Freelancers
                              </a>
                  
              </div>
                {%else%}

                <div class="navbar-end">
                        <a class="navbar-item" href="{{url_for('login')}}">
                            LOGIN
                          </a>
                        
                      
                  </div>
                {%endif%}

            </div>
          </nav>
        {%block content%}
        {%endblock%}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKad-Gv_xxWD7rHOXjYEAHG9DUJiQEr20&libraries=places&callback=activePlacesSearch"></script> 
        <script type="text/javascript">
          function initialize() {
              var input = document.getElementById('location');
              var autocomplete = new google.maps.places.Autocomplete(input);
              google.maps.event.addListener(autocomplete, 'place_changed', function () {
                  var place = autocomplete.getPlace();
                  document.getElementById('lat').value = place.geometry.location.lat();
                  document.getElementById('lng').value = place.geometry.location.lng();
                  //alert("This function is working!");
                  //alert(place.name);
                 // alert(place.address_components[0].long_name);
        
              });
          }
          google.maps.event.addDomListener(window, 'load', initialize);  
        </script>
       
        <script src="" async defer></script>
    </body>
</html>